.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  width: 30%;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #565656;
  padding: 10px;
  height: 100%;
  border-radius: 10px;
}

.info img {
  max-width: 100%;
  height: 300px;
}

.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.prijzen {
  margin-top: auto;
  margin-bottom: auto;
}

.informatie {
  margin-top: auto;
}

.add-to-cart {
  margin-top: auto;
}